<!-- Main content -->
<section class="content">
  <div class="small-box bg-navy curves">
    <div class="inner">
      <h3>Placement Summary</h3>
      <div class="row">
        <div class="col-lg-6 col xs-3">
          <h4>Total eligible students : <b>5600</b></h4>
        </div>
        <div class="col-lg-3 col xs-3">
          <h4>Total placed: <b>3549</b></h4>
        </div>
        <div class="col-lg-3 col xs-3">
          <h4>To go: <b class="red">2051</b></h4>
        </div>
      </div>
    </div>
    <!--<div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
  </div>

  <!--small-box second row instances  -->
  <div class="row">
    <div class="col-lg-6 col-xs-6">
      <!-- small box fr upcomming drives -->
      <div class="small-box bg-aqua curves">
        <div class="inner">
          <h3>Upcomming Drives</h3>
          <div class="row">
            <div class="col-lg-6">
              <p>New drives</p>
            </div>
            <div class="col-lg-3">
              <!--search button!! -->
              <!--<input type="text" class="searchName" name="search" placeholder="Search..">-->
              <label>Search:<input type="search" class="form-control searchName input-sm" placeholder="" aria-controls="example1"></label>
            </div>
          </div>
          <table class="table1">
            <tr class="tableHead">
              <th>Company</th>
              <th>Drive Date</th> 
            </tr>
            <tr>
              <td>VenturePact</td>
              <td>
              </td>

            </tr>
            <tr>
              <td>CTS</td>
              <td>20/07/2017</td>
            </tr>
            <tr>
              <td>Amezon</td>
              <td>10/08/2017</td>
            </tr>
          </table>

        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-xs-6">
      <!-- small box for showing the pending tasks -->
      <div class="small-box bg-green curves">
        <div class="inner">
          <h3>Pending Tasks</h3>
          <div class="row">
            <div class="col-lg-6">
              <p>Tasks</p>
            </div>
            <div class="col-lg-3">
              <!--search button!! -->
              <!--<input type="text" class="searchName" name="search" placeholder="Search..">-->
              <label>Search:<input type="search" class="form-control searchName input-sm" placeholder="" aria-controls="example1"></label>
            </div>
          </div>


          <table class="table1">
            <tr class="tableHead">
              <th>Item</th>
              <th>Last Date</th>
            </tr>
            <tr>
              <td>eating</td>
              <td>12/07/2017</td>

            </tr>
            <tr>
              <td>Pay Salary</td>
              <td>07/07/2017</td>
            </tr>
            <tr>
              <td>Give Party</td>
              <td>10/07/2017</td>
            </tr>
          </table>
        </div>

        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <!-- small-box third row instances!-->
  <div class="row">
    <!-- Specialization placement summary! -->
    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red curves">
        <div class="inner">
          <h3>Specialization Placement Summary</h3>
          <p>look coursewise!!</p>
          <!--<div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                          <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>-->
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table1">
              <tbody>
                <tr class="tableHead">
                  <th>ID</th>
                  <th>Course </th>
                  <th>Students</th>
                  <th>Placed</th>

                </tr>
                <tr>
                  <td>1</td>
                  <td>CSE</td>
                  <td>2300</td>
                  <td>1700</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>ECE</td>
                  <td>1200</td>
                  <td>870</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>MECH</td>
                  <td>870</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>BBA</td>
                  <td>900</td>
                  <td>760</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <!--</div>
                  
                </div>-->

        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <!-- Company Placement Summary-->
    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-orange curves">
        <div class="inner">
          <h3>Company Placement Summary</h3>

          <p>Look below dude!!</p>
          <table class="table1">
            <tr class="tableHead">
              <th>Company</th>
              <th>Placed</th>
            </tr>
            <tr>
              <td>softbank</td>
              <td>90</td>

            </tr>
            <tr>
              <td>TECH.MAHINDRA</td>
              <td>535</td>
            </tr>
            <tr>
              <td>BRITANICA</td>
              <td>208</td>
            </tr>
            <tr>
              <td>PARLE</td>
              <td>138</td>
            </tr>
          </table>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <!--<div class="small-box bg-navy">
          <div class="inner">
            <h3>Custom Query</h3>
            <h5>Create Query below!</h5>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>-->
</section>
<!-- /.content -->