  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Invite Students
        <!--<small>Optional description</small>-->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Invite Students</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->

      <form role="form">
        <div class="box-body">


          <div class="form-group">
            <label for="exampleInputFile">Upload .csv</label>
            <input type="file" id="exampleInputFile"><br>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </div>


        <!-- /.box-body -->



<!--HEY LOOK-->
      </form>

      <div class="callout callout-info">
        <h4>Important Note!</h4>

        <p>.csv should be in the following format:<br><p style="word-spacing:8px">Registration_Id, Name, Email, Phone_no, Passing_Year</p></p>
      </div>



      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Invitation Summary</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Invited</th>
                  <th>Joined</th>
                  <th>Not Joined</th>
                  <th>Invalid</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>June 2017</td>
                  <td>1000</td>
                  <td>500</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-xs" style="color:#ffffff">200<i class="fa fa-fw fa-bullhorn"></i></button></td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>May 2017</td>
                  <td>100</td>
                  <td>50</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-xs" style="color:#ffffff">20<i class="fa fa-fw fa-bullhorn" ></i></button></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>April 2017</td>
                  <td>1000</td>
                  <td>500</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-xs" style="color:#ffffff">200<i class="fa fa-fw fa-bullhorn"></i></button></td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>March 2017</td>
                  <td>1000</td>
                  <td>500</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-xs" style="color:#ffffff">200<i class="fa fa-fw fa-bullhorn"></i></button></td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>February 2017</td>
                  <td>1000</td>
                  <td>500</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-xs" style="color:#ffffff">200<i class="fa fa-fw fa-bullhorn"></i></button></td>
                  <td>300</td>
                </tr>


                </tbody>

              </table>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      </div>
















</section>


      </div>