<div class="content-wrapper">
<section class="content-header" style="min-height:0px;padding:0px;">
     
        <h1 style="font-size: 30px;" > University Profile 
        <small style="color:gray">a Venturepact product</small>
      </h1>
         
   <ul class="breadcrumb">
     <li><a href="#">Home</a></li>
       <li class="active">University Profile</li>
   </ul>
  </section>

  <section class="content">
       <div class="row">
       <div class="box box-primary">
         <div class="box-header with-border __web-inspector-hide-shortcut__">
              <h3 class="box-title">University Entries</h3>
            </div>
            <form role="form">
              <div class="box-body">
              <div class="form-group">
                <label>Institute Name:</label>
                <select id="i3" class="form-control select2 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Lovely Professional University</option>
                  <option>IIT DELHI</option>
                  <option>IIT BOMBAY</option>
                  <option>BHU</option>
                </select>
              </div>
              <div class="form-group">
                <label>Institute Address:</label>
                <input type="text" class="form-control" id="i2" placeholder="Enter Institute Address:"> 
              </div>
              <div class="form-group">
                <label>Courses Offered:</label>
                <select multiple id="i3" class="form-control select2 select2-hidden-accessible" data-placeholder="Select Course offered" style="width: 100%" tabindex="-1" aria-hidden="true">
                  <option selected="selected">B.C.A</option>
                  <option>B.Tech</option>
                  <option>MBA</option>
                  <option>BBA</option>
                  <option>Physical Education</option>
                  <option>International Studies</option>
                </select>
              </div>
                <div class="form-group">
                <label>Affiliation / Accredited By:</label>
                <input type="text" class="form-control" id="i4" placeholder="Enter Affiliation / Accredition">
                
              </div>
              <div class="form-group">
              <label >Institute Establishment Year</label>
              <input type="month" class="form-control" id="i5"> 
              </div>
              <div class="form-group">
              <label >University Type</label>
              <select multiple class="form-control select2 select2-hidden-accessible" id="i6" style="width: 100%" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Private</option>
                  <option>University</option>
                  <option>Junior College</option>
                  <option>Distance Education</option>
                  <option>Law School</option>
                  <option>Engineering School</option>
                </select>
              </div>
             <div class="form-group">
              <label> Total Students Range</label>
              <input type="number" class="form-control" id="i7">
             </div>
             <!-- Biggest Recruiters-->
             <!--div class="rows"-->
              <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Biggest Recruiters</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form class="form-horizontal">
                <div class="box-body f1">
                  <div class="form-group f2">
                    <label  class="col-sm-2 control-label">Company Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control Cn" id="c1n" placeholder="Company Name" />
                    </div>
                    <label class="col-sm-2 control-label">Company Website</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control Cn" id="w1n" placeholder="Company Website" />
                    </div>
                  </div>
                      </div>
                      <i style="margin-right:0px;float:right;" onClick="add1();" class="fa fa-plus"></i>    
                       <!--img src="small_plus.png" height="50px" onclick="add()" class="add_btn" width="50px" style="margin-right:0px;float:right;"-->
               
                   
               
                <!-- /.baox-body -->
              </form>
            </div>
          </div>
              
              

           <!-- Notable ALumni-->
           <!--div class="rows"-->
              <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Notable Alumni</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form class="form-horizontal">
                <div class="box-body f3">
                  <div class="form-group f4">
                    <label  class="col-sm-2 control-label">Alumni Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="a1n" placeholder="Alumni Name" />
                    </div>
                    <label  class="col-sm-2 control-label">Alumni Linkedin</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="a2n" placeholder="Alumni Linkedin" />
                    </div>
                  </div>
                </div>
              <i style="margin-right:0px;float:right;" onClick="add2();" class="fa fa-plus"></i>    
                      
              </form>
            </div>
          </div>
                 <button type="button" class="btn btn-block btn-primary btn-lg">Submit</button>
              
              </div>
            </form>
       </div>
       </div>
  </section>
   </div>