<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a routerLink="user-profile"><i class="fa fa-user-o"></i> <span>User Profile</span></a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-car"></i> <span>Upcoming Drives</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="all-drives">All</a></li>
          <li><a routerLink="eligible-drives">Eligible</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-wpforms"></i> <span>Applications</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="applied-forms">Applied Forms</a></li>
          <li><a routerLink="past-applications">Past Applications</a></li>
          <li><a routerLink="offer-status">Offer Status</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>



