<div class="content-wrapper">
<section class="content-header">
  <h1>
    User Profile
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Your Page Content Here -->

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="./assets/dist/img/user2-160x160.jpg" alt="User profile picture">

          <h3 class="profile-username text-center">Nina Mcintire</h3>

          <p class="text-muted text-center">Software Engineer</p>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at Knoxville
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

          <p class="text-muted">Malibu, California</p>

          <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

          <p>
            <span class="label label-danger">UI Design</span>
            <span class="label label-success">Coding</span>
            <span class="label label-info">Javascript</span>
            <span class="label label-warning">PHP</span>
            <span class="label label-primary">Node.js</span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->

    <!--Navigation Tabs-->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#basicInfo" data-toggle="tab">Basic Info</a></li>
          <li><a href="#education" data-toggle="tab">Education</a></li>
          <li><a href="#projects" data-toggle="tab">Projects</a></li>
          <li><a href="#skills" data-toggle="tab">Skills</a></li>
          <li><a href="#accomplishments" data-toggle="tab">Accomplishments</a></li>
          <li><a href="#certifications" data-toggle="tab">Certifications</a></li>
          <li><a href="#jobPreference" data-toggle="tab">Job Preference</a></li>
        </ul>
        <div class="tab-content">
          <!--Basic Info Tab-->
          <div class="active tab-pane" id="basicInfo">
            <!-- Horizontal Form -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="userName" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" placeholder="Full Name" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="userEMail" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="userEMail" placeholder="eg. user@host.com" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="userMobile" class="col-sm-2 control-label">Phone</label>
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" id="userMobile" placeholder="Mobile" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="userAddress" class="col-sm-2 control-label">Address</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="userAddress" placeholder="Full Address" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">Update</button>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
            </form>

          </div>
          <!-- /.tab-pane -->
          <!--/.Basic Info-->

          <!--Education Tab-->
          <div class="tab-pane" id="education">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="instituteName" class="col-sm-2 control-label">Institute Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="instituteName" placeholder="Institute Name" />
                  </div>
                  <label for="degree" class="col-sm-2 control-label">Degree</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="degree" placeholder="Degree" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="attendedFrom" class="col-sm-2 control-label">Attended From</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="attendedFrom" placeholder="Year" />
                  </div>
                  <label for="attendedTo" class="col-sm-2 control-label">Attended To</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="attendedTo" placeholder="Year" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="marksCgpa" class="col-sm-2 control-label">Marks/CGPA</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="marksCgpa" placeholder="Marks/CGPA" />
                  </div>
                  <label for="specialization" class="col-sm-2 control-label">Specialization</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="specialization" placeholder="Specialization" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-block btn-danger">Add Education Details</button>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="projects">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">

                  <label for="projectTitle" class="col-sm-2 control-label">Project Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="projectTitle" placeholder="Project Title" />
                  </div>

                </div>

                <div class="form-group">

                  <label for="void" class="col-sm-2 control-label">Project Duration</label>
                  <label for="projectDurationFrom" class="col-sm-1 control-label">From</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="projectDurationFrom" placeholder="Year" />
                  </div>
                  <label for="projectDurationTo" class="col-sm-1 control-label">To</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="projectDurationTo" placeholder="Year" />
                  </div>

                </div>


                <div class="form-group">

                  <label for="projectDetails" class="col-sm-2 control-label">Project Details</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>

                </div>



                <div class="form-group">
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-block btn-danger">Add Project</button>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
            </form>

          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="skills">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="skill" class="col-sm-2 control-label">Skill</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="skill" placeholder="Skill" />
                  </div>
                  <i class="fa fa-plus btn btn-success btn-lg" id="btnToAddSkill"></i>
                </div>
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="accomplishments">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="accomplishmentTitle" class="col-sm-1 control-label">Title</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="accomplishmentTitle" placeholder="Title" />
                  </div>

                  <label for="accomplishmentYear" class="col-sm-1 control-label">Year</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="accomplishmentYear" placeholder="Year" />
                  </div>
                  <i class="fa fa-plus btn btn-success btn-lg" id="btnToAddAccomplishment"></i>
                </div>
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="certifications">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="certificationTitle" class="col-sm-1 control-label">Title</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="certificationTitle" placeholder="Title" />
                  </div>

                  <label for="certificationYear" class="col-sm-1 control-label">Year</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="certificationYear" placeholder="Year" />
                  </div>
                  <i class="fa fa-plus btn btn-success btn-lg" id="btnToAddCertification"></i>
                </div>
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="jobPreference">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="rolePreference" class="col-sm-1 control-label">Role</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="rolePreference" placeholder="Role" />
                  </div>

                  <label for="jobLocation" class="col-sm-1 control-label">Location</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="jobLocation" placeholder="Location" />
                  </div>
                  <i class="fa fa-plus btn btn-success btn-lg" id="btnToAddJobPreference"></i>
                </div>
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->


</section>
</div>